
   

      *{background-color: rgb(250, 240, 206)}
      p{
         color: rgb(2, 3, 3);font: size 70px;
         background-color: #227a67;
      }
    
      section{
        text-align:unset ;
      color: rgb(6, 112, 112);font: size 10px;
      background-color: #227a67;
      PADDING-RIGHT: 50px;
      DISPLAY: inline;
      PADDING-LEFT: 2px; 
      FLOAT: left;
      PADDING-BOTTOM: 30px;
      WIDTH: 30%;
      PADDING-TOP: 20px;
      border-bottom: 500px;

      }
      aside{
      font-family: 'Unbounded', cursive;
      background-color: rgb(226, 211, 161);
      PADDING-RIGHT: 50px;
      DISPLAY: inline;
      PADDING-LEFT: 2px;
      FLOAT:left;
      PADDING-BOTTOM: 15px;
      WIDTH: 30%;
      PADDING-TOP: 20px

      }
      h1{
        text-align: center;
        color:black;
      }
      h2{
        background-color: rgb(250, 240, 206);
      }
     
      h3{
        color: rgb(241, 247, 247);
        font:60px;
        background-color: #227a67;
      }
      h5{
      text-align: center;
      font-size:18.72px;
      background-color: rgb(226, 211, 161);
      }
      h4{
      font-size: 20px;
      color: rgb(0, 0, 0);font:50px;
      background-color: #227a67;
      PADDING-BOTTOM: 17px
      }

      
      li{
        background-color: rgb(226, 211, 161);
        text-align: left;
       
      }
     
      ul{
      background-color: rgb(226, 211, 161);

      }
      #resaltar{
      background-color: rgb(226, 211, 161);
      color: rgb(0, 0, 0);
      font-size: 18px;
      }
      #derecha{
      text-align:end;
      background-color: rgb(226, 211, 161);
      color: rgb(0, 0, 0);
      font-size: 15px;
      }
    
    .droptarget {
      width: 100px; 
      height: 35px;
      padding: 10px;
      border: 1px solid black;
      background-color: rgb(226, 211, 161);
    }
   